replicaCount: {{ env "REPLICAS" }}

# Number of old history to retain to allow rollback
# Default Kubernetes value is set to 10
revisionHistoryLimit: 10

securityContext:
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  runAsUser: 999
  runAsNonRoot: true
  runAsGroup: 999
